* {
  font-family: Arial;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
