* {
  font-family: Arial;
}

.spacer {
  flex: 1 1 auto;
  min-width: 20px;
}

.mat-mdc-icon-button {
  min-width: 48px;
  width: 48px;
  height: 48px;
}

.mat-mdc-icon-button .mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
