* {
  font-family: Arial;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.selection-container {
  display: flex;
  gap: 8px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 16px;
}

th {
  text-align: left;
  padding-bottom: 8px;
}

th:first-child {
  padding-left: 20px;
}

td:first-child {
  padding-left: 20px;
}

table {
  border-collapse: collapse;
}

.table-container {
  display: flex;
  justify-content: center;
}

.table-header {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 8px;
}

.table-row {
  height: 42px;
  border-bottom: 1px solid lightgrey;
}

.table-row:hover {
  background-color: lightgrey;
}

.bundesliga-table {
  width: 80%;
  margin-top: 16px;
}

.wappen {
  height: 24px;
  width: 24px;
}

.verein {
  width: 30%;
}

.platz {
  width: 24px;
}

.verein-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.verein-container .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  gap: 8px;
}

.verein-container .left .teamname {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.verein-container .right {
  margin-right: 8px;
}

.fw-bold {
  font-weight: bold;
}

.letzte-5 {
  display: flex;
  gap: 1px;
}

.running-game {
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.winning {
  background-color: green;
}

.draw {
  background-color: grey;
}

.loosing {
  background-color: red;
}

@media only screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}
